<aside class="col-md-3">
    <div class="card w-100 mb-5">
        <div class="card-header bg-dark text-light">Blog Posts</div>

        <nav class="nav flex-column">
            <% for(var i=0; i < blogPosts.length; i++) { %>
                <a class="nav-link" href="/post/<%= blogPosts[i].linkName %>"><%= blogPosts[i].title %></a>
  <% } %>
                
                <a class="nav-link" href="/addPost">Add Blog Post</a>
        </nav>
    </div>
    <div class="card w-100">
        <div class="card-header bg-dark text-light">Random Links</div>

        <nav class="nav flex-column">
            
                <a class="nav-link" href="http://jeffa.tech">Jeff Ammons - coding guru</a>
                <a class="nav-link" href="http://codecareeracademy.com">Code Career Academy</a>
                <a class="nav-link" href="http://petfinder.com">Find a new buddy!</a>
                <a class="nav-link" href="http://atlutd.com">Check out the latest <strong>Atlanta United</strong> news!</a>
            
        </nav>
    </div>
    <div class="card w-100 mt-5">
        <div class="card-header text-light" id="pic-card">About the Picture</div>
            <article>
                <p class="ml-3 mr-3 mt-2">For those wondering about the picture, it was taken in the Grand Tetons around 2012. If you are ever in the area, try the<a href="http://www.tetonhikingtrails.com/inspiration-point.htm"> hike!</a></p>
            </article>
    </div>

</aside>