<% include partials/header %>
<div class="container-fluid">
    <div class="row">
        <main class="col-md-9">
            <article>
                <img class="img-fluid w-100" src="images/woodchuck.jpg" alt="woodchuck" />
                <div class="pl-2">
                        <h1 class="mt-1">About Me</h1>
                        <p>After spending many years in the land of AS/400s (and a couple side years in JDE), I decided to branch out and start learning some new things. 
                            I am currently attending Code Career Academy in Lawrenceville, GA to learn web development.  As you can see from my website, I have learned a few things.  I know there is much more to learn and I look forward to it!
                        </p>
                </div>
            </article>
        </main>
<% include partials/aside %>
    </div>
</div>

<% include partials/footer %>
