<% include partials/header %>
<div class="container-fluid">
    <div class="row">
        <main class="col-md-9">
            <article>
                <img class="img-fluid w-100" src="images/zionpic.jpg" alt="Zion National Park" />
                <div class="pl-2">
                        <h1 class="mt-1">Contact Info</h1>
                        <p>If you would like to contact me send an email to nb_workRT@yahoo.com.
                        </p>
                </div>
            </article>
        </main>
<% include partials/aside %>
    </div>
</div>

<% include partials/footer %>
