<% include partials/header %>
<main>
    <h1>Edit Blog Post</h1>
    <p>Modify the blog post.</p>
    <form action="/updatePost" method="POST">
        <div>
            <label for="title">Blog Title: </label>
            <input type="text" id="title" name="title">
        </div>
        <div>
            <label for="author">Author: </label>
            <input type="text" id="author" name="author">
        </div>
        <div>
            <label for="linkName">Name of Blog Link:</label>
            <input type="text" id="linkName" name="linkName">
        </div>
        <div>
            <label for="blog">Blog Post: </label>
            <textarea id="blog" name="blog" rows="20"></textarea>
        </div>
        <div>
            <label for="passPhrase">Pass Phrase: </label>
            <input type="password" id="passPhrase" name="passPhrase">
        </div>
        <div>
            <button type="submit">Update Blog Entry</button>
        </div>
    </form>
</main>
<% include partials/footer %>