<% include partials/header %>
    <div class="container-fluid">
        <div class="row">
            <main class="col-md-9">
                <article>
                    <img class="img-fluid w-100" src="images/JNInspirationPoint.jpg" alt="Inspiration Point" />
                    <div class="pl-2">
                    <h1 class="mt-1">Welcome!</h1>

                    <p>Welcome to nBlog. Currently, I am going back to school to learn web development.  I plan on posting some things I have learned here as well as some other items of interest.  Hopefully, you will be able to find something useful, interesting or maybe even inspirational here.</p>
                    </div>
                </article>
            </main>
 <% include partials/aside %>
        </div>
    </div>
 
    <% include partials/footer %>
