nav h1, main h1{color: rgb(26, 136, 240);}
#pic-card{background-color:rgb(26, 136, 240);}
aside nav a{color: black;}
main article p, main article li{font-size: 1.25rem;}

#bark-bark{padding: 1rem;}

#errorMessage{
    font-size: 1.25rem;
    color: rgb(236, 33, 33);
    margin-top: 1rem;
}